<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397061041186-fcfvc6sjtm3c48d85b4uuad0l5ti13hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397061041186-fcfvc6sjtm3c48d85b4uuad0l5ti13hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDipfA4YdgiPDtGHe2AA0ZJrY6iUEvzJHg</string>
	<key>GCM_SENDER_ID</key>
	<string>397061041186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Junyu.VitalDays</string>
	<key>PROJECT_ID</key>
	<string>vital-days</string>
	<key>STORAGE_BUCKET</key>
	<string>vital-days.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397061041186:ios:d4e4a616a27c9c2711ae7b</string>
	<key>DATABASE_URL</key>
	<string>https://vital-days.firebaseio.com</string>
</dict>
</plist>